* {
  margin: 0;
  padding: 0;
  color: var(--main-text-color)
}

:root {
  --main-bg-color: #FEF5ED;
  --secondary-bg-color: #E5DCC3;
  --box-bg-color: #630000;
  --main-text-color: #89B5AF;
  --secondary-text-color: #99A799;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  min-height: 65vh;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* Header */

header {
  background-color: var(--box-bg-color);
  border: 1px solid var(--box-bg-color);
}

header li {
  display: inline-block;
  padding-left: 64px;
  padding-right: 64px;
}

header li:nth-child(1) {
  padding-left: 35px;
}

.register-button {
  float: right;
  display: block;
  margin-top: 5vh;
}

header .toggle-button {
  padding: 0.2em;
  box-shadow: none;
  background: none!important;
  border: 1px solid white;
  cursor: pointer;
}

/* Hero */

.hero-section {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 10px;
  height: 30vh;
  max-width: 30vw;
  color: black;
  font-weight: bolder;
}

.hero-image {
  max-height: 15vh;
  max-width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

.hero-section h2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-section-title {
  margin-top: 15vh;
}

.hero-section p {
  text-align: center;
  width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  color:var(--secondary-text-color);
}

/* Best Selling Products */

.bestseller {
  display: table;
}

.product-bestseller {
  height: 35vh;
  width: 15vw;
  display: table-cell;
  padding: 10px;
}

.product-bestseller img {
  max-width: 20vw;
  max-height: 20vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.view-more {
  float: right;
}

/* Product Categories */

.product-category {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
}

.product-category img {
  display: inline-flex;
  max-width: 20vw;
  max-height: 20vh;
}

/* Footer */

footer {
  background-color:var(--box-bg-color);
  width: 100vw;
  display: inline-flex;
  padding: 35px 0 20px 50px;
}

footer li {
  text-decoration: none;
  color: #61dafb;
  list-style-type: none;
  text-align: left;
}

footer h5 {
  padding-left: 30px;
  text-transform: uppercase;
}

/* Product Card */

.product-card h3 {
  text-align: center;
}

.product-card h4 {
  text-align: center;
  width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  font-size: 1.3rem;
  margin: 0;
  resize: horizontal;
}

.product-card {
  height: 35vh;
  width: 20vw;
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.product-content {
  height: 15vh;
}

.card-img {
  height: 20vh;
}

.product-card-img {
  max-width: 20vw;
  max-height: 20vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-card p {
  text-align: center;
}

/* Product Listings Page */

.sidebar button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  margin-left: 20px;
}

.sidebar {
  margin-left: 2vw;
}

.sidebar li {
  list-style-type: none;
}

/* Product Page */

.product-description {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.product-description img {
  max-width: 20vw;
}

/* About Page */

.about-section {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

/* Registration Page */
.registration-section h1 {
  text-align: center;
}

/* Registration Form */

.registration-form {
  margin-left: 20vw;
  margin-right: 20vw;
}

.registration-form h2, .register-message {
  text-align: center;
}

.registration-form button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid var(--box-bg-color);
  width: 10vw;
}

.registration-form input {
  border-radius: 5px;
  outline: none;
  padding-left: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form-control {
  background-color: var(--primary-bg-color)!important;
  border: none!important;
}

.form-control focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Registration Modal */

.toggle-button {
  float: right;
}

.registration-modal {
  width: 70vw;
  height: 35vh;
  background-color: var(--secondary-bg-color);
  position: absolute;
  transform: translate(-50%, -100%);
  top: 50%;
  left: 50%;
  z-index: 4;
  display: inline-block;
  border-radius: 20px;
  filter: blur(0);
}